
<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body class="d-flex flex-column min-vh-100">
<%- include('navbar') %>

<div class="container">
    <div class="row">
        <h1 id="usersTableTitle" class="text-center">There are given tours table</h1>
        <button type="button" class="btn btn-primary my-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create new Place
        </button>
        <div class="d-flex pb-5 justify-content-between">
            <div class="input-group mb-3">
                <select id="limit" class="form-select">
                    <option selected>
                        <%= limit %>
                    </option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
            </div>

        </div>
    </div>
    <h1>All tours</h1>
    <div class="row" >
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Hotel</th>
                <th scope="col">Date arrival</th>
                <th scope="col">Date departure</th>
                <th scope="col">Adults</th>
                <th scope="col">Children</th>
                <th scope="col">price</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody id="toursContainer">
            <% for (let index = 0; index < tours.length; index++) { %>
                <tr>
                    <th scope="col"><%= index + 1 %></th>
                    <th scope="col"><%= tours[index].country %></th>
                    <th scope="col"><%= tours[index].city %></th>
                    <th scope="col"><%= tours[index].hotel %></th>
                    <th scope="col"><%= tours[index].dateArrival %></th>
                    <th scope="col"><%= tours[index].dateDeparture %></th>
                    <th scope="col"><%= tours[index].adults %></th>
                    <th scope="col"><%= tours[index].children %></th>
                    <th scope="col"><%= tours[index].price %></th>
                    <th>
                        <button type="button" class="btn btn-primary" onclick="openEditModal('<%= tours[index].id %>', '<%= tours[index].adults %>', '<%= tours[index].children %>', '<%= tours[index].price %>', '<%= tours[index].img1 %>',  '<%= tours[index].img2 %>', '<%= tours[index].img3 %>','<%= tours[index].dateArrival %>', '<%= tours[index].dateDeparture %>', )">Edit</button>
                        <form class="d-inline" action="/admin/delete/<%= tours[index].id %>" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </th>
                </tr>
            <% } %>
            </tbody>
        </table>
        <div class="row">
            <nav class="mx-auto">
                <ul class="pagination">
                    <% for (let i=1; i <=totalPages; i++) { %>
                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                            <a class="page-link" href="/admin?p=<%= i %>" data-page="<%= i %>">
                                <%= i %>
                            </a>
                        </li>
                    <% } %>
                </ul>

            </nav>
        </div>
    </div>
</div>

<%- include('footer') %>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <%- include('TourModal') %>
        </div>
    </div>
</div>


<div class="modal fade" id="updateTourModal" tabindex="-1" aria-labelledby="updateTourModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <%- include('UpdateModal') %>
        </div>
    </div>
</div>
<script src="/js/admin.js"></script>
    
</body>
</html>