<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body class="d-flex flex-column min-vh-100">
<%- include('navbar') %>
<!--slider-->

<div class="d-flex pb-5 justify-content-between">
    <div class="input-group mb-3">
        <select id="limit" class="form-select">
            <option selected>
                <%= limit %>
            </option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
    </div>

</div>


<section id="bdy2">
    <div class="container">
        <div class="row" id="toursContainer">
            <% tours.forEach(tour => { %>
                <div class="col-md-6 col-lg-4" style="margin-bottom: 25px;">
                    <a href="/destination/<%= tour._id %>" style="color: black; text-decoration: none;">
                        <div class="card">
                            <div id="carousel<%= tour._id %>" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="<%= tour.img1 %>" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="<%= tour.img2 %>" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="<%= tour.img3 %>" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= tour._id %>" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= tour._id %>" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <!-- End Slider -->
                            
                            <div class="card-body">
                                <h5 class="card-title"><%= tour.city %></h5>
                                <p><%= tour.country %></p>
                            </div>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
</section>

    <nav class="mx-auto">
        <ul class="pagination">
            <% for (let i=1; i <=totalPages; i++) { %>
                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                    <a class="page-link" href="/admin?p=<%= i %>" data-page="<%= i %>">
                        <%= i %>
                    </a>
                </li>
            <% } %>
        </ul>

    </nav>



<%- include('footer') %>
<script src="./js/destination.js"></script>

</body>
</html>